# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# Flask and Streamlit cache
.flaskenv
.streamlit/
*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db
